:root {
    --primary-color: #483efe;
}

.main-heading {
    margin: 0.5rem 0 0.8rem 0;
}

.hero-image {
    padding: 0 0 0.8rem 0;
}

.section-heading span {
    font-weight: bold;
}

/* Project links */
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.section-live-link {
    border: solid 2px var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}
.section-code-link {
    padding: 0.5rem 1.5rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}